* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PADDING AL MAIN CONTAINER SU MEDIA QUERIES
PER NON INCOLLARE SCRITTE AI BORDI */

.main-container {
  margin: 0 3vw;
}
@media screen and (min-width: 500px) {
  .main-container {
  }
}

@media screen and (min-width: 950px) {
  .main-container {
    margin: 0 auto;
    width: 80vw;
  }
}

/* HEADER */

/* nav */
header nav.sx {
  left: 25%;
}
header nav.dx {
  right: 0;
}

nav ul li,
nav ul li a {
  transition: color 0.3s;
  font-size: 0.8rem;
}
/* bottone in fondo sx nav a sx */

nav > a {
  border: 1px solid #3a8aff;
  transition: all 0.4s;
}

/* hamburger e suo interno */

.hamburger-line {
  transition: all 0.5s;
}

.hamburger:hover .hamburger-line {
  background-color: #031c4e;
}

/* HERO JUMBO-TRON */

main {
  background-image: url('img/bg-banner-home.jpg');
  background-size: 300vw;
}

/* adattammento testi e grandezza pattern di background */

.h1-and-p-container h1 {
  font-size: 2rem;
}

.h1-and-p-container p {
  line-height: 1.4rem;
}

@media screen and (min-width: 500px) {
  main {
    background-size: 160vw;
  }
  .h1-and-p-container h1 {
    font-size: 1.9rem;
  }
  .h1-and-p-container p {
    line-height: 1.3rem;
  }
  body {
    background-color: coral;
  }
}

@media screen and (min-width: 950px) {
  main {
    background-size: 120vw;
  }
  .h1-and-p-container h1 {
    font-size: 2.5rem;
  }
  .h1-and-p-container p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  body {
    background-color: #fff;
  }
}

/* form sull hero jumbotron */

main .form-container form input {
  border: 1px solid #cacaca;
}

::placeholder {
  font-size: 0.8rem;
  padding-left: 2%;
}

form a.dark-grey-txt {
  box-shadow: 2px 2px 3px #666;
}
