/* PADDING AL MAIN CONTAINER SU MEDIA QUERIES
PER NON INCOLLARE SCRITTE AI BORDI */

.main-container {
  margin: 0 3vw;
}

@media screen and (min-width: 950px) {
  .main-container {
    margin: 0 auto;
    max-width: 850px;
  }
}

/* HEADER nav */
header nav.sx {
  left: 25%;
}
header nav.dx {
  right: 0;
}

nav ul li,
nav ul li a {
  transition: color 0.3s;
}
/* bottone in fondo sx nav a sx */

nav > a {
  transition: all 0.4s;
}

/* hamburger e suo interno */

.hamburger-line {
  transition: all 0.5s;
}

.hamburger:hover .hamburger-line {
  background-color: #031c4e;
}

/* HERO JUMBO-TRON */

main {
  background-image: url('img/bg-banner-home.jpg');
  background-size: 1750px;
}

/* form sull hero jumbotron */

::placeholder {
  font-size: 0.8rem;
  padding-left: 2%;
}

form a.dark-grey-txt {
  box-shadow: 2px 2px 3px #666;
}

/* SEZIONE LOGHI sotto hero jumbo */

section.logo-section .main-container img {
  width: 40vw;
}
/* marginatura left ultima img del blocchi loghi
per far funzionare su mobile anche l'ultima riga
del  text-align: justify */
section.logo-section .main-container img.last {
  margin-left: 30%;
}

/* portati su una linea da tablet in poi */

@media screen and (min-width: 500px) {
  section.logo-section .main-container img {
    width: 14vw;
  }
  section.logo-section .main-container li:not(.first) {
    margin-left: 1.1%;
  }
  section.logo-section .main-container img.last {
    margin-left: 0;
  }
}
@media screen and (min-width: 950px) {
  section.logo-section .main-container img {
    width: 125px;
  }
  section.logo-section .main-container li:not(.first) {
    margin-left: 1.75%;
  }
}

/* SEZIONE DEPPLOY AND SCALE */

section.deploy-and-scale .border-visibile-left {
  border-left: 1px solid #606e8a;
}

/* altezza dei box di testo da tablet in poi 
 nella sezione deploy and scale */

@media screen and (min-width: 500px) {
  section.deploy-and-scale .text-boxes > div:nth-child(3),
  section.deploy-and-scale .text-boxes > div:last-child {
    margin-top: 85px;
  }
}
@media screen and (min-width: 570px) {
  section.deploy-and-scale .text-boxes > div:nth-child(3),
  section.deploy-and-scale .text-boxes > div:last-child {
    margin-top: 65px;
  }
}
@media screen and (min-width: 720px) {
  section.deploy-and-scale .text-boxes > div:nth-child(3),
  section.deploy-and-scale .text-boxes > div:last-child {
    margin-top: 30px;
  }
}

/* SEZIONE DESIGNED FOR DEVELOPERS */

section.designed-for-dev span:nth-of-type(2),
section.designed-for-dev span:nth-of-type(3),
section.designed-for-dev span:last-of-type {
  border: 2px solid #3a8aff;
}
/* frecce laterali img che compaiono solo da tablet in poi */
@media screen and (min-width: 500px) {
  section.designed-for-dev .img-wrapper::before {
    content: '\f104';
    font-size: 3.3rem;
    color: grey;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 10px;
  }
  section.designed-for-dev .img-wrapper::after {
    content: '\f105';
    font-size: 3.3rem;
    color: grey;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-left: 10px;
  }
}

/* SERVICE COSTUMERS AROUND THE WORLD 12 REGIONS */

section.service-arund-world {
  background-image: linear-gradient(180deg, #0047c5, #001e99);
}

/* linee della tablla 
eccetto quella in fondo */
.table-box .line:not(.last) {
  border-bottom: 2px solid #fff;
}

/* tornare una sotto l'altra parte
sx e dx della tabella su mobile*/
@media screen and (min-width: 950px) {
  section.service-arund-world .side-sx,
  section.service-arund-world .side-dx {
    display: inline-block;
    width: 48%;
  }
  /* far sparire l'ultima riga della
   colonna sx quando tornano in linea*/
  section.service-arund-world .table-box .colum-end {
    border: 0;
  }
  /* parte sx e dx su desktop della tabella */
  section.service-arund-world .side-sx {
    margin-right: 1.5%;
  }
  section.service-arund-world .side-dx {
    margin-left: 1.5%;
  }
}

/* colore link in fondo alla linea  */
.service-arund-world .line span:last-child {
  color: #00d5d1;
}

/* SEZIONE DEVELOPMENT TEAMS 
LOVES DIGITAL OCEAN */

.slider-second {
  width: 305px;
  height: 340px;
}
.slider-second .fa-angle-right,
.slider-second .fa-angle-left {
  display: none;
}

/* frecce laterali non visibili su mobile */
@media screen and (min-width: 500px) {
  .slider-second .fa-angle-right {
    display: block;
    left: 105%;
  }
  .slider-second .fa-angle-left {
    display: block;
    right: 105%;
  }
}

/* SEZIONE GET STARTED */

.get-strted {
  background-color: #00229d;
}
